{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="title">Login</h1>

    {% if msg %}
    <div class="message">
        {{ msg }}
    </div>
    {% endif %}

    <form action="{{ url_for('login') }}" method="POST" class="account_form">
        
        <label for="email">Username / Email</label>
        <input type="text" id="email" name="email" value="esuyawkal@clarkson.edu" placeholder="Enter your email" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" value="123" placeholder="Enter your password" required>
        <div><a href="{{ url_for('signup') }}" class="">Sign up</a></div>


        <button type="submit">Login</button>
    </form>
</div>
{% endblock %}