{% extends "base.html" %}
{% block content %}
<div class="home-container">

    <div class="home-header">
        <h1>Manage Users</h1>
    </div>
    <div class="listings">

        {% for item in items %}
        {% if item.user_id != session.get('user')['id'] %}
        <div class="card">
            <h3>{{ item.first_name }} {{ item.last_name }}</h3>
            <p class="price">{{ item.email }}</p>
            <p class="desc">{{ item.role }}</p>

            <div class="card-footer">
                {% if role == 'admin' %}
                <a href="{{ url_for('manage_user', user_id=item.user_id) }}" class="view-btn">Manage</a>
                {% if item.role == 'participant' %}
                <a href="{{ url_for('manage_user', user_id=item.user_id) }}" class="delete-btn">Ban</a>
                {%endif %}
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
        </div>
</div>
{% endblock %}