{% extends "base.html" %}
{% block content %}

            {% for item in obj.data %}
            <div class="card">
                <p>{{ item.first_name }} {{ item.last_name }}</p>
                <p>Email: {{ item.email }}</p>
                <p>Role: {{ item.role }}</p>
            </div>
            {% endfor %}
            <!-- <div class="error_text">
                {% if obj.errors | length > 0 %}
                    {% for error in obj.errors  %}
                        <div>{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
            <div>
                <form action="manage?action=update&pkval={{ obj.data[0][obj.pk] }}" method="POST">
                    Name:<br>
                    <input type="text" name="name" value="{{ obj.data[0].name }}" />
                    <br>
                    Email:<br>
                    <input type="text" name="email" value="{{ obj.data[0].email }}" />
                    <br>
                    Password:<br>
                    <input type="password" name="password" value="" />
                    <br>
                    Retype Password:<br>
                    <input type="password" name="password2" value="" />
                    <br>
                    Role:<br>
                    <select name="role">
                        {% for role in obj.roles %}
                            {% if  obj.data[0].role == role.value %}
                                <option selected="true" value="{{ role.value }}">{{ role.text }}</option>
                            {% else %}
                                <option value="{{ role.value }}">{{ role.text }}</option>
                            {% endif %}
                        {% endfor %}  
                    </select>
                    <br>
                    <br>
                    <input type="submit" value="Submit" />
                </form>
                <div>
                    <br><br>
                    <a href="/users/manage?pkval={{ obj.data[0][obj.pk] }}&action=delete">Delete this User</a>
                </div>
                
            </div> -->
{% endblock %}